.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .spinner-container {
    position: absolute;
    height: 300px;
    top: calc(50% - 150px);
  }
}
